extends layout

block content
  h2 Acerca del Museo
  p MuseArte es un museo virtual dedicado a celebrar el arte moderno, permitiendo a los visitantes explorar obras destacadas desde cualquier lugar del mundo.
  p Nos encontramos ubicados en la nube, accesible desde cualquier dispositivo conectado a internet.
