extends layout

block content
  .bienvenida
    h2 Bienvenido a MuseArte
    p Un museo virtual donde el arte moderno y clásico se encuentran en un espacio sin fronteras.

  .inicio
    img(src='/img/inicio.jpg', alt='MuseArte - Entrada al museo')
